
.vs/Maya22Gamplay3D/FileContentIndex/3cc4efc2-859e-4a03-9d12-140c1fe3c6be.vsidx
.vs/Maya22Gamplay3D/FileContentIndex/read.lock
.vs/Maya22Gamplay3D/v17/.suo
.vs/Maya22Gamplay3D/v17/Browse.VC.db
.vs/Maya22Gamplay3D/v17/Browse.VC.db-shm
.vs/Maya22Gamplay3D/v17/Browse.VC.db-wal
.vs/Maya22Gamplay3D/v17/Browse.VC.opendb
.vs/Maya22Gamplay3D/v17/ipch/AutoPCH/7630d56cb36268d6/PLUGIN.ipch
.vs/Maya22Gamplay3D/v17/Solution.VC.db
.vs/Maya22Gamplay3D/v17/Solution.VC.db-shm
.vs/Maya22Gamplay3D/v17/Solution.VC.db-wal
MayaPlugin/build/x64/Debug/UD1447Project.exp
MayaPlugin/build/x64/Debug/UD1447Project.lib
MayaPlugin/build/x64/Debug/UD1447Project.mll
MayaPlugin/build/x64/Debug/UD1447Project.pdb
MayaPlugin/x64/Debug/Comlib.obj
MayaPlugin/x64/Debug/MayaAPI.tlog/CL.command.1.tlog
MayaPlugin/x64/Debug/MayaAPI.tlog/CL.read.1.tlog
MayaPlugin/x64/Debug/MayaAPI.tlog/CL.write.1.tlog
MayaPlugin/x64/Debug/MayaAPI.tlog/link.command.1.tlog
MayaPlugin/x64/Debug/MayaAPI.tlog/link.read.1.tlog
MayaPlugin/x64/Debug/MayaAPI.tlog/link.write.1.tlog
MayaPlugin/x64/Debug/MayaAPI.tlog/MayaAPI.lastbuildstate
MayaPlugin/x64/Debug/MayaAPI.tlog/MayaAPI.write.1u.tlog
MayaPlugin/x64/Debug/MayaPlugin.log
MayaPlugin/x64/Debug/MayaPlugin.vcxproj.FileListAbsolute.txt
MayaPlugin/x64/Debug/Memory.obj
MayaPlugin/x64/Debug/Mutex.obj
MayaPlugin/x64/Debug/Plugin.obj
MayaPlugin/x64/Debug/UD1447Project.Build.CppClean.log
MayaPlugin/x64/Debug/UD1447Project.ilk
MayaPlugin/x64/Debug/UD1447Project.mll.recipe
MayaPlugin/x64/Debug/vc143.idb
MayaPlugin/x64/Debug/vc143.pdb
MayaScene/Debug/Comlib.obj
MayaScene/Debug/MayaScene.Build.CppClean.log.txt
MayaScene/Debug/MayaScene.exe
MayaScene/Debug/MayaScene.exp
MayaScene/Debug/MayaScene.ilk
MayaScene/Debug/MayaScene.lib
MayaScene/Debug/MayaScene.log
MayaScene/Debug/MayaScene.obj
MayaScene/Debug/MayaScene.pdb
MayaScene/Debug/MayaScene.tlog/CL.command.1.tlog
MayaScene/Debug/MayaScene.tlog/CL.read.1.tlog
MayaScene/Debug/MayaScene.tlog/CL.write.1.tlog
MayaScene/Debug/MayaScene.tlog/link.command.1.tlog
MayaScene/Debug/MayaScene.tlog/link.read.1.tlog
MayaScene/Debug/MayaScene.tlog/link.write.1.tlog
MayaScene/Debug/MayaScene.tlog/MayaScene.lastbuildstate
MayaScene/Debug/MayaScene.tlog/MayaScene.write.1u.tlog
MayaScene/Debug/MayaScene.vcxproj.FileListAbsolute.txt
MayaScene/Debug/Memory.obj
MayaScene/Debug/Mutex.obj
MayaScene/Debug/vc143.idb
MayaScene/Debug/vc143.pdb
.vs/Maya22Gamplay3D/FileContentIndex/2cbd9039-0cf8-48bc-a7d1-37a81e7f48b4.vsidx
.vs/Maya22Gamplay3D/v17/fileList.bin
.vs/Maya22Gamplay3D/v17/ipch/AutoPCH/7a07e944ccc114c/COMLIB.ipch
.vs/Maya22Gamplay3D/v17/ipch/AutoPCH/7a49ca27be99d235/MAYASCENE.ipch
.vs/Maya22Gamplay3D/v17/ipch/AutoPCH/879576c517f3e566/PLUGIN.ipch
.vs/Maya22Gamplay3D/v17/ipch/AutoPCH/bba1980934231b1e/COMLIB.ipch
MayaPlugin/x64/Debug/MayaAPI.tlog/unsuccessfulbuild
MayaScene/Debug/MayaScene.Build.CppClean.log
MayaScene/Debug/MayaScene.exe.recipe
MayaScene/Debug/MayaScene.log
MayaScene/Debug/MayaScene.vcxproj.FileListAbsolute.txt
MayaScene/MayaScene.vcxproj
.vs/Maya22Gamplay3D/v17/ipch/AutoPCH/d58834ba888774d9/MAYASCENE.ipch
.vs/Maya22Gamplay3D/FileContentIndex/45b0249a-9f8c-4f46-b594-0d84326a639e.vsidx
MayaScene/Debug/MayaScene.Build.CppClean.log
MayaScene/Debug/MayaScene.log
MayaScene/Debug/MayaScene.exe.recipe
MayaScene/Debug/MayaScene.vcxproj.FileListAbsolute.txt
MayaPlugin/loadPlugin.py
.vs/Maya22Gamplay3D/FileContentIndex/a6ff0009-680f-42da-8f07-6c5bd7b48bf6.vsidx
.vs/Maya22Gamplay3D/FileContentIndex/34989857-fd00-4537-b213-f01b7faf2ee9.vsidx
MayaPlugin/loadPlugin.py
MayaPlugin/unloadPlugin.py
MayaScene/Debug/MayaScene.Build.CppClean.log
MayaScene/Debug/MayaScene.exe.recipe
MayaScene/Debug/MayaScene.log
MayaScene/Debug/MayaScene.tlog/unsuccessfulbuild
MayaScene/Debug/MayaScene.vcxproj.FileListAbsolute.txt
